# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# Java
*.class
*.jar
*.war
*.ear
*.log

# OS
.DS_Store
Thumbs.db

# Generated reports
src/laporan/*.pdf

# IDE
.idea/
.vscode/

# Temporary files
*.tmp
*.bak
